body {
    background-color: red;
}


ul {
    color: white;
    background-color: black;
}

ul li {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}


h2 {
    font-weight: 800;
    color: violet;
}